
.container_cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
}
.card {
    display: flex;
    padding: 2vh 2vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    background-color: rgb(235, 235, 235);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    width: 90vw;
}

.card img{
    width: auto;
    height: 70vh;
}